@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:host {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  overflow-y: hidden;
  max-width: 1200px;
  height: 85%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
}

button[mat-flat-button] {
  background-color: #57429D;
  color: white;
  border: 1px solid white;
  border-radius: 6px;
  padding: 8px 16px;
  width: 25%;
}

/* Painel da esquerda */
.left-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #57429D;
  color: white;
  text-align: center;
  padding: 40px;
  justify-content: flex-end; 
  align-items: center; 
  padding-bottom: 10px; 
}

.left-panel p {
  font-size: 20px;
  font-weight: 500;
  max-width: 400px;
  line-height: 1.4;
  padding-bottom: 10px;
}

.left-panel button {
  background: #57429D;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
}

.car-image {
  margin-top: 100px;
  width: 80%;
}

/* Painel da direita */
.right-panel {
  flex: 1.2;
  padding: 40px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* Tabs */
mat-tab-group {
  width: 100%;
}

mat-tab-label {
  font-weight: bold;
  color: black;
  opacity: 0.7;
}

.mat-tab-label-active {
  color: #57429D !important;
  border-bottom: 2px solid #57429D !important;
}

/* Formulário */
form {
  margin-top: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
  background-color: white !important; /* Força o fundo branco */
  border-radius: 5px; /* Bordas arredondadas */
}

.btn-cadastrar {
  width: 100%;
  margin-top: 10px;
  font-size: 1.1rem;
  border-radius: 8px;
  background-color: #57429D !important;
  color: white !important;
}