<div class="page-content">
    <h2>Vambora: Caronas Universitárias Inteligentes</h2>
    <div class="Texto">
        <p>Cansado de chegar atrasado na faculdade ou de gastar muito com transporte? O Vambora é a solução perfeita para você! Conectamos estudantes que precisam de carona com motoristas dispostos a compartilhar seus trajetos. Economize dinheiro, faça novos amigos e chegue no seu destino de forma segura e confortável.</p>
        <p>Junte-se à comunidade Vambora e encontre a carona perfeita para você! Comece agora mesmo a economizar e a fazer a diferença no seu dia a dia.</p>
    </div>
</div>